.invalid-tooltip {
    position: relative !important;
    padding: .25rem .5rem !important;
    margin-top: .1rem !important;
    font-size: .75rem !important;
    color: rgba(220,53,69,.9) !important;
    background-color: inherit !important;
}