
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] | علم و صنعت</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewData["Title"]">
    <meta name="keywords" content="@ViewData["Title"]">
    <link rel="shortcut icon" href="~/favicon.png">
    <!-- Bootstrap -->
    <link href="~/landrik/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons -->
    <link href="~/landrik/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/landrik/unicons.iconscout.com/release/v3.0.6/css/line.css">
    <!-- Main Css -->
    <link href="~/landrik/css/style.min.css" rel="stylesheet" type="text/css" id="theme-opt" />
    <link href="~/landrik/css/colors/default.css" rel="stylesheet" id="color-opt">
</head>

<body>
    <div class="back-to-home rounded d-none d-sm-block">
        <a href="/" class="btn btn-icon btn-soft-primary"><i data-feather="home" class="icons"></i></a>
    </div>
    <section class="bg-home d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12 text-center">
                    <img src="~/landrik/images/404.svg" class="img-fluid" alt="">
                    <div class="text-uppercase mt-4 display-3">وای نه!</div>
                    <div class="text-capitalize text-dark mb-4 error-page">صفحه ای یافت نشد</div>
                </div><!--end col-->
            </div><!--end row-->
            <div class="row">
                <div class="col-md-12 text-center">
                    <button onclick="window.history.go(-1); return false;" class="btn btn-outline-primary mt-4">برو عقب</button>
                    <a href="/" class="btn btn-primary mt-4 ms-2">برو صفحه اصلی </a>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <script src="~/landrik/js/bootstrap.bundle.min.js"></script>
    <script src="~/landrik/js/feather.min.js"></script>
    <script src="~/landrik/js/plugins.init.js"></script><!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
    <script src="~/landrik/js/app.js"></script><!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->
</body>
</html>